:root {
  --lightgrey: #e8e8e8;
  --black: #272727;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 }

*,
*:before,
*:after {
  margin: 0;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

body {
  background: var(--lightgrey);
}


ul {
  margin: 0;
}
li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  width: 100%;
}

/* utility classes */
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}

.my-2{
  margin: 2rem 0;
}

.my-3{
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

/* navigation */
.nav {
  margin: 0;
  background: white;
}
.nav__navbar {
  display: grid;
  grid-template-columns: repeat(6, 80px);
  grid-gap: 20px;
  height: 40px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.nav__navbar > * {
  text-transform: uppercase;
}

/* container */
.container {
  padding: 0 10rem;
  font-family: 'Arvo', monospace;
}

/* header */
header__image {
  background: url('/images/vegetables.jpg');
}

/* gallery */
.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.item {
  display: grid;
  justify-items: center;
  background: white;
  box-shadow: -2px 2px 5px 0px rgba(68, 68, 68, 0.4);
  display: grid;
  text-align: center;
}

.item-text {
  padding: 20px 0;
}

.instagram {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  margin-bottom: 4rem;
}

button {
  padding: 10px;
  background: none;
  border: 1px solid var(--black);
}

.older-posts-btn {
  display: grid;
  justify-content: center;
}

/* footer */
footer {
  background: var(--black);
  padding: 5rem 10rem;
  color: var(--lightgrey);
}